footer {
  border-top: 1px solid #262626;
  background-color: #0a0a0a;
  color: #d4d4d4;
}

.custom-circle {
  position: absolute;
  top: 0;
  left: 25%;
  width: 384px;
  height: 384px;
  background-color: #ff69000d;
  border-radius: 50%;
  filter: blur(64px);
  z-index: 0;
}

.orange-circle {
  top: 0;
  left: 25%;
  background-color: #ff69000d;
}

.yellow-circle {
  bottom: 0;
  right: 25%;
  background-color: #f0b1000d;
}

/*columns*/

.footer-logo {
  width: 44px;
  height: 44px;
  background: linear-gradient(to bottom right, #f97316, #ea580c);
  box-shadow: rgba(249, 115, 22, 0.3) 0px 4px 20px;
  transition: all 0.3s;
  border-radius: 12px;
}

.footer-logo:hover {
  transform: scale(105%);
}

.footer-logo span,
.footer-logo + span {
  font-size: 20px;
}

.text-description {
  color: #737373;
  font-size: 14px;
  margin-bottom: 24px;
  font-weight: 400;
}

.social-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #262626;
  border-radius: 12px;
  background-color: #161616;
  transition: all 0.3s;
  color: #737373;
}

.social-icon:hover {
  background: linear-gradient(to bottom right, #ff6900, #f54a00);
  border: transparent;
  transform: scale(110%);
  color: white;
}

/*Second col*/
.gradient-line {
  display: inline-block;
  width: 32px;
  height: 2px;
  background: linear-gradient(90deg, #ff6900, #f0b100);
  border-radius: 3px;
}

ul li a {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10;
}

.arrow-icon {
  opacity: 0;
  transition: all 0.3s;
  margin-right: -16px;
}

ul li:hover .arrow-icon {
  opacity: 1;
  margin-right: 0px;
}

ul li:hover a {
  color: #ff6900 !important;
}

/*Form*/
.custom-input {
  padding: 12px 16px;
  background-color: #161616;
  border: 1px solid #262626;
  border-radius: 12px;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease;
  margin-bottom: 12px;
}

.custom-input::placeholder {
  color: #737373;
}

.custom-input:focus {
  border-color: #f97316;
  outline: none;
  box-shadow: 0 0 0 1px #f97316;
  color: #fff;
}

/*policy*/
.policy {
  font-size: 14px;
  font-weight: 400;
  color: #525252;
  border-top: 1px solid #262626;
}

.policy svg {
  color: #ea580c;
}

.policy a {
  font-size: 14px;
  font-weight: 400;
  color: #525252;
  transition: all 0.3s ease;
}

.policy a:hover {
  font-size: 14px;
  font-weight: 400;
  color: #ea580c;
  border-top: 1px so;
}
