#hero-header {
  background-color: #0a0a0a;
  min-height: 90vh;
}

.header-content {
  max-width: 896px;
}

.hero-container {
  max-width: 1280px;
  padding-inline: 16px;
  padding-block: 80px;
}

.circle {
  filter: blur(64px);
}

.circle-orange {
  width: 288px;
  height: 288px;
  top: 80px;
  left: 40px;
  background-color: #ff69001a;
}

.circle-yellow {
  width: 384px;
  height: 384px;
  bottom: 80px;
  right: 40px;
  background-color: #f0b1000d;
}

.circle-orange2 {
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff69000d;
}

#hero-header .glass-card-container {
  max-width: 768px;
}

#hero-header .glass-card {
  border-radius: 24px;
  -webkit-backdrop-filter: blur(20px);
  background: #161616cc;
  border: 1px solid #262626;
  transition: all 0.3s;
}

#hero-header .glass-card:hover {
  transform: scale(105%);
}

#hero-header .glass-card .gradient-text {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

#hero-header .glass-card i,
#hero-header .glass-card svg {
  font-size: 24px;
  color: #ff6900;
}

#hero-header .glass-card :last-child {
  font-size: 14px;
  color: #737373;
  margin: 0;
  line-height: 20px;
}

/*=============================*/
/*selected articles section*/
#selected-articles {
  background-color: #0a0a0a;
  padding-block: 96px;
}

#selected-articles .gradient-overlay {
  width: 33.3333%;
  height: 100%;
  background: linear-gradient(to left, #ff69000d, transparent);
}

#selected-articles .custom-container {
  position: relative;
  z-index: 4;
}

#selected-articles .gradient-btn {
  border-radius: 12px;
}

#selected-articles article {
  background-color: #161616;
  transition: all 0.5s;
  border: 1px solid #262626;
  border-radius: 24px;
}

#selected-articles article .img-container {
  position: relative;
  height: 288px;
}

#selected-articles article img {
  transition: all ease-out 0.7s;
}

#selected-articles article .overlay-gradient {
  position: absolute;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent, transparent);
  opacity: 0;
  transition: opacity 0.5s ease;
}

#selected-articles article .badge-gradient {
  gap: 6px;
  padding: 6px 12px;
  background: linear-gradient(to right, #f97316, #facc15);
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 9999px;
}

#selected-articles article .badge-gradient i,
#selected-articles article .badge-gradient svg {
  font-size: 10px;
}

#selected-articles article:hover {
  border-color: #ff69004d;
}

#selected-articles article:hover img {
  transform: scale(1.1);
}

#selected-articles article:hover .overlay-gradient {
  opacity: 1;
}

/*Another col*/
#selected-articles article .blog-content {
  background-color: #161616;
  padding: 32px;
}

#selected-articles article .badge-light {
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 9999px;
  color: #ff6900;
  background-color: #ff69001a;
  border: 1px solid #ff690033;
}

#selected-articles article .card-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 1.25;
  transition: color 0.3s;
}

#selected-articles article:hover .card-title {
  color: #ff6900;
}

#selected-articles article:hover .arrow {
  transform: translateX(-4px);
}

#selected-articles article .avatar-img {
  width: 48px;
  height: 48px;
  border: 2px solid #262626;
}

#selected-articles article .status-indicator {
  position: absolute;
  bottom: -4px;
  left: -4px;
  width: 16px;
  height: 16px;
  background-color: #f97316;
  border-radius: 50%;
  border: 2px solid #161616;
}

/*******************************************************************************************************/
/* Categories Section */
/***************************/
#categories {
  background-color: #111111;
  border-top: 1px solid #262626;
  position: relative;
  border-bottom: 1px solid #262626;
  padding-block: 96px;
}

#categories .category-item {
  background-color: #161616;
  border: 1px solid #262626;
  transition: all 0.5s;
}

#categories .category-item .overlay-layer {
  background: linear-gradient(to bottom right, #ff6900, #f0b100);
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}

#categories .category-item:hover {
  border-color: #ff69004d;
  transform: translateY(-4px);
}

#categories .category-item:hover .overlay-layer {
  opacity: 1;
}

#categories .category-item .icon-container {
  width: 48px;
  height: 48px;
  background-color: #ff69001a;
  border: 1px solid #ff690033;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s;
  margin-bottom: 16px;
}

#categories .category-item .icon-container i,
#categories .category-item .icon-container svg {
  font-size: 20px;
  color: #ff6900;
  transition: all 0.3s;
}

#categories .category-item:hover .icon-container {
  background-color: #ffffff33;
  border: transparent;
}

#categories .category-item:hover .icon-container i,
#categories .category-item:hover .icon-container svg {
  color: white;
}

#categories .category-item h3 {
  font-size: 18px;
}

#categories .category-item p {
  font-size: 14px;
  font-weight: 400;
}

#categories .category-item:hover p {
  color: #ffffffcc;
}

#categories .category-item .arrow-open {
  top: 20px;
  left: 24px;
  width: 32px;
  height: 32px;
  background-color: #262626;
  opacity: 0;
  transition: all 0.3s;
}

#categories .category-item:hover .arrow-open {
  background-color: #ffffff33;
  opacity: 1;
}

/*******************************************************************************************************/

/*=============================*/
/*recent articles section*/
#recent-articles {
  background-color: #0a0a0a;
  padding-block: 96px;
}

#recent-articles .gradient-overlay {
  z-index: 0;
  width: 33.3333%;
  height: 100%;
  background: linear-gradient(to right, #ff69000d, transparent);
}

#recent-articles .container {
  position: relative;
  z-index: 2;
}

#recent-articles .read-more {
  z-index: 1;
  font-size: 16px;
  transition: all 0.3s;
  gap: 8px;
}

#recent-articles .read-more:hover {
  color: #ff8904;
}

/*******************************************************************************************************/

/*=============================*/
/*subscribe-form section*/
#subscribe-form {
  background-color: #0a0a0a;
  padding-block: 96px;
}

#subscribe-form .gradient-overlay {
  transform: translateX(-50%);
  width: 600px;
  height: 300px;
  background-color: #ff69001a;
  filter: blur(64px);
  z-index: 0;
}

#subscribe-form .container {
  max-width: 896px;
  padding-inline: 16px;
}

#subscribe-form .form-container {
  position: relative;
  z-index: 1;
  background-color: #161616;
  border-radius: 24px;
  border: 1px solid #262626;
  padding: 32px;
  max-width: 896 !important;
}

#subscribe-form .form-container .icon-container {
  width: 64px;
  height: 64px;
  background: linear-gradient(to bottom right, #ff6900, #f54a00);
  /* from-orange-500 to-orange-600 */
  border-radius: 16px;
  margin-bottom: 24px;
}

#subscribe-form .form-container h2 {
  font-size: 30px;
  font-weight: 700;
}

#subscribe-form .form-container h2 span {
  font-size: 30px;
  font-weight: 700;
}

#subscribe-form .form-container p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  max-width: 576px;
}

#subscribe-form .form-container form {
  max-width: 512px;
  gap: 12px;
  margin-bottom: 24px;
}

#subscribe-form .form-container form input {
  flex: 1;
  padding: 16px 20px;
  border-radius: 12px;
  background-color: #0a0a0a;
  border: 1px solid #262626;
  color: #ffffff;
  transition: all 0.3s ease;
}

#subscribe-form .form-container form input:focus {
  outline: none;
  border-color: #ff690080;
}

#subscribe-form .form-container form input::placeholder {
  color: #737373;
}

#subscribe-form .form-container form .subscribe-btn {
  background: linear-gradient(to right, #ff6900, #f54a00);
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: ba 0.3s ease;
}

#subscribe-form .form-container form .subscribe-btn:hover {
  background: linear-gradient(to right, #f54a00, #ca3500);
}

#subscribe-form .form-container .dot-shape {
  width: 5px;
  height: 5px;
  background-color: #262626;
}

#subscribe-form .form-container span {
  font-weight: 400;
  font-size: 14px;
}

#subscribe-form .form-container .authors img {
  width: 32px;
  height: 32px;
  border: 2px solid #161616;
  border-radius: 50%;
  margin: -2px;
}

/*******************************************************************************************************/

@media (min-width: 992px) {
  .hero-container {
    padding-inline: 32px;
  }

  #subscribe-form .form-container {
    padding: 64px;
  }

  .container {
    padding-inline: 32px;
  }
}

/* Responsive */
@media (min-width: 768px) {
  #hero-header .glass-card .gradient-text {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
  }

  #selected-articles article .img-container {
    height: 400px;
  }

  #selected-articles article .blog-content {
    padding: 40px;
  }

  #selected-articles article .card-title {
    font-size: 30px;
  }

  #subscribe-form .form-container {
    padding: 48px;
  }

  #subscribe-form .form-container h2 {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .hero-container {
    padding-inline: 24px;
  }

  .container {
    padding-inline: 24px;
  }
}
