.ping-dot {
  width: 8px;
  height: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #ff6900;
}

.animated-dot {
  background-color: #ff6900;
  animation: ping 1.5s infinite;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
