article {
  background-color: #161616;
  transition: all 0.5s;
  border: 1px solid #262626;
  border-radius: 24px;
}

article .img-container {
  position: relative;
  height: 208px;
  width: 100%;
}

article img {
  transition: all ease-out 0.5s;
}

article .overlay-gradient {
  position: absolute;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 */
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent, transparent);
  opacity: 0;
  transition: opacity 0.5s ease;
}

article:hover {
  border-color: #ff69004d;
}

article:hover .img-container img {
  transform: scale(1.1);
}

article:hover .overlay-gradient {
  opacity: 1;
}

/*Another col*/
article .blog-content {
  background-color: #161616;
  padding: 32px;
}

article .badge-light {
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 9999px;
  color: #ff6900;
  background-color: #ff69001a;
  border: 1px solid #ff690033;
}

article .card-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 1.25;
  transition: color 0.3s;
}

article:hover .card-title {
  color: #ff6900;
}

article:hover .arrow {
  transform: translateX(-4px);
}

article .avatar-img {
  width: 48px;
  height: 48px;
  border: 2px solid #262626;
}

@media (min-width: 768px) {
  article .img-container {
    height: auto;
    width: 288px;
  }
}

@media (min-width: 992px) {
  article .img-container {
    height: auto;
    width: 320px;
  }
}
